﻿@model List<Date>

@{
    ViewData["Title"] = "Détails";
}

@using System.Globalization;

<div class="text-center">
    <h1 class="display-4">Détail de cette fermeture</h1>
    <p>
        La fermeture du pont est prévue le
        @foreach (var nextClose in Model)
        {
            CultureInfo fr = CultureInfo.GetCultureInfo("fr-FR");
            @nextClose.ClosingDate.ToString("dddd dd MMMM yyyy 'à' HH':'mm", fr)
            if (nextClose.BoatName != "MAINTENANCE" && nextClose.BoatName != "VIGILANCE CRUE")
            {
                <p>Fermé pour permettre le passage du bateau @nextClose.BoatName</p>
            }
            else
            {
                <p>Fermé pour cause de @nextClose.BoatName</p>
            }
            <p>La durée de fermeture est de @(nextClose.ReopeningDate - nextClose.ClosingDate) heures</p>
            <p id="countdown"></p>
            @section Scripts {
            <script>
                var countDownDate =  new Date("@nextClose.ClosingDate.ToString("yyyy-MM-ddTHH':'mm':'ss")");
                var x = setInterval(function() {
                var now = new Date().getTime();
                var distance = countDownDate - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                document.getElementById("countdown").innerHTML = "La fermeture est prévue dans " + days + " jours, " + hours + " heures, "
                + minutes + " minutes et " + seconds + " secondes. ";
                if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown").innerHTML = "Cette fermeture est déjà passée.";
                }
                }, 1000);
            </script>
            }
            break;
        }
    

        <p>
            Sa réouverture est le
            @foreach (var nextOpen in Model)
            {
                CultureInfo fr = CultureInfo.GetCultureInfo("fr-FR");
                @nextOpen.ReopeningDate.ToString("dddd dd MMMM yyyy 'à' HH':'mm", fr)
                    break;
                
            }
        </p>
    </div>
