﻿@model List<Date>

@{
    ViewData["Title"] = "Prochaine fermeture";
}
@using System.Globalization

<div class="text-center">
    <h1 class="display-4">Prochaine fermeture</h1>
    <p>
        La prochaine fermeture du pont est prévue le
        @foreach (var nextClose in Model)
        {
            CultureInfo fr = CultureInfo.GetCultureInfo("fr-FR");
            if (nextClose.ClosingDate >= DateTime.Now || (nextClose.ClosingDate < DateTime.Now && nextClose.ReopeningDate >= DateTime.Now))
            {
                @nextClose.ClosingDate.ToString("dddd dd MMMM yyyy 'à' HH':'mm", fr)
                if (nextClose.BoatName != "MAINTENANCE" && nextClose.BoatName != "VIGILANCE CRUE")
                {
                <p>Il sera fermé pour permettre le passage du bateau @nextClose.BoatName</p>
            }
            else
            {
                <p>Il sera fermé pour cause de @nextClose.BoatName</p>


            }
            <p>La durée de fermeture est de @(nextClose.ReopeningDate - nextClose.ClosingDate) heures</p>
            <p id="countdown"></p>
            @section Scripts {
                <script>
                    var countDownDate =  new Date("@nextClose.ClosingDate.ToString("yyyy-MM-ddTHH':'mm':'ss")");
                    var x = setInterval(function() {
                    var now = new Date().getTime();
                    var distance = countDownDate - now;
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    document.getElementById("countdown").innerHTML = "La prochaine fermeture est prévue dans " + days + " jours, " + hours + " heures, "
                    + minutes + " minutes et " + seconds + " secondes. ";
                    if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("countdown").innerHTML = "EXPIRED";
                    }
                    }, 1000);
                </script>
            }
            break;
        }
    }

        <p>
            Sa réouverture est prévue le
            @foreach (var nextOpen in Model)
            {
                CultureInfo fr = CultureInfo.GetCultureInfo("fr-FR");
                if (nextOpen.ClosingDate >= DateTime.Now)
                {
                    @nextOpen.ReopeningDate.ToString("dddd dd MMMM yyyy 'à' HH':'mm", fr)
                    break;
                }
            }
        </p>
    </div>
