﻿@model IEnumerable<BridgeMonitor.Models.Date>

@{
    ViewData["Title"] = "Toutes les fermetures";
}

@using System.Globalization;

<h1>Tableau des fermetures :</h1>
<h2> Fermetures à venir :</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Nom du bateau ou cause de la fermeture
            </th>
            <th>
                Date de fermeture
            </th>
            <th>
                Date de réouverture
            </th>
            <th>
                Durée de fermeture
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var date in Model)
        {
            CultureInfo fr = CultureInfo.GetCultureInfo("fr-FR");
            if (date.ReopeningDate > DateTime.Now)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => date.BoatName)
                    </td>
                    <td>
                        @{
                            string closing = date.ClosingDate.ToString("dddd dd MMMM yyyy 'à' HH':'mm", fr);
                        }
                        @Html.DisplayFor(modelItem => closing)
                    </td>
                    <td>
                        @{
                            string opening = date.ReopeningDate.ToString("dddd dd MMMM yyyy 'à' HH':'mm", fr);
                        }
                        @Html.DisplayFor(modelItem => opening)
                    </td>
                    <td>
                        @(date.ReopeningDate - date.ClosingDate)
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Details" asp-route-date="@date.ClosingDate.ToString("yyyyMMddHHmmss")">Détail</a>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

<h2> Fermetures passées :</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Nom du bateau ou cause de la fermeture
            </th>
            <th>
                Date de fermeture
            </th>
            <th>
                Date de réouverture
            </th>
            <th>
                Durée de fermeture
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var date in Model)
        {
            CultureInfo fr = CultureInfo.GetCultureInfo("fr-FR");
            if (date.ReopeningDate <= DateTime.Now)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => date.BoatName)
                </td>
               <td>
                        @{
                            string closing = date.ClosingDate.ToString("dddd dd MMMM yyyy 'à' HH':'mm", fr);
                        }
                        @Html.DisplayFor(modelItem => closing)
                    </td>
                    <td>
                        @{
                            string opening = date.ReopeningDate.ToString("dddd dd MMMM yyyy 'à' HH':'mm", fr);
                        }
                        @Html.DisplayFor(modelItem => opening)
                    </td>
                <td>
                    @(date.ReopeningDate - date.ClosingDate)
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Details" asp-route-date="@date.ClosingDate.ToString("yyyyMMddHHmmss")">Détail</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
